
.searchform {
position: absolute;
right: 15px;
top: 6px;
display: inline-block;
zoom: 1;
*display: inline;
border: 0;
padding: 0;
}
.searchform input {
font: normal 12px/100% Arial, Helvetica, sans-serif;
}
.searchform .searchfield {
height: 27px;
line-height: 27px;
padding-left: 10px;
padding-right: 10px;
width: 150px;
border: 2px solid #333;
outline: none;
-webkit-border-radius: 2em;
-moz-border-radius: 2em;
border-radius: 2em;
-moz-box-shadow: inset 1px 1px 2px #A1A1A1;
-webkit-box-shadow: inset 1px 1px 2px #A1A1A1;
box-shadow: inner 1px 1px 2px #A1A1A1;
}

.searchfield:focus{
font-weight: 700;
width: 220px;
}

.searchfield:not(:focus){
width: 150px;
}

.searchfield:focus,
.searchfield:not(:focus){
-webkit-transition-property:width; 
-webkit-transition-duration: 0.5s, 0.5s; 
-webkit-transition-timing-function: linear, ease-out;
}
#navigation, 
#nav li ul li, 
#nav li ul li a{
background: #000; 
}

/* Menu Item text color */
#nav li a, 
#nav li a:hover, 
#nav li ul li,
#nav li ul li a,
#nav li ul li a:hover  {
color: #000;
}

/* Menu Item background color on hover */
#nav li a:hover, 
#nav li ul li a:hover  {
background:#FA8529;
}

/* Text Shadow */
#nav li a, 
#nav li a:hover, 
#nav li ul li a:hover  {
}



#menu_div{
top: 0;
left: 0;
} /* Free space to top specialy for menu */

#navigation {
width: 1315px;
}

#navigation, #menu_div {
width: 1315px;

}

#menu_div, #navigation, #menu, #nav{
height: 45px; 
width: 1315px;
/* menu height */
}

#menu_div:hover,
#navigation:hover,
#nav li a:hover, #nav li ul a 
{
	color:#FFF;
	
} 

#menu_div,
#navigation, 
#nav li a, 
#menu_div:not(:hover), 
#navigation:not(:hover)
{
	margin-top:5px;
/* Menu transparency on mouse out */
}


#menu {
	
margin:0 auto; /*center the menu*/
padding:0;}

#nav{
margin:0;
padding:0;

position: relative;
color:#FFF;
letter-spacing:2px;
font-family: 'Arial', Helvetica, sans-serif;
background:#FFF;
}


#nav li a,#nav li {

float:left;
}

#nav li {
list-style:none;
position:relative;
}

#nav li a {
padding:15 15px;
text-decoration:none;
margin:0;
font-size:12px;
font-weight:700;
text-transform:uppercase;
}

/*====================
	Submenu 
=====================*/
#nav li ul {
display:none;
position:absolute;
left:0;
top:100%;
padding:0;

margin:0;
} /* hide submenu */

#nav li:hover > ul {
display:block;
} /* show submenu on hover */

#nav li ul li,#nav li ul li a {
background-color:#FFF;

float:none;
min-width: 150px; /* submenu item minimal width */
border-right: 0;
text-shadow: none;

display:block;
font-size:13px;
font-weight:400;
color:#000;
text-transform:inherit;
} /* Submenu item */

#nav li ul li {
_display:inline; /* for IE */
}

/* == 12. Sub-Sub Menu == */
#nav li ul li ul {
display:none;
}

#nav li ul li:hover ul {
left:100%;

top:0;
}

/*====================
	Search form 
====================*/

#nav li a:hover,
#nav li ul li a:hover  {
-webkit-transition-property:color, background; 
-webkit-transition-duration: 0.5s, 0.5s; 
-webkit-transition-timing-function: linear, ease-out;
}


